// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
img {
  width: 200px;
  margin: 1em 100px;
}

table {
  margin: auto;
  margin-top: 50px;

}

.new_picture_page {
  text-align: center;
  margin-top: 50px;
}

.picture_image {
    width: 200px;
    margin:  0 auto;
}

li {
  text-align: center;
}

.new_picture {
  margin: 2rem, 500px;
}

.form_page {
  width: 200px;
  margin-right: 10px;
  margin-top: 50px;
  margin-left: 700px;
}

.picture_confirm {
  width: 200px;
  margin-right: 10px;
  margin-top: 50px;
  margin-left: 650px;
}
