// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
img {
  width: 200px;
  margin: 1em 100px;
}

table {
  margin: auto;
  margin-top: 50px;

}

.new_picture_page {
  text-align: center;
  margin-top: 50px;
}

.picture_image {
  // margin: auto;
  // margin: 2rem, 600px;
    width: 200px;               /* 幅指定 */
    // height: 90px;               /* 高さ指定 */
    margin:  0 auto;

}
li {
  text-align: center;
}

.new_picture {
  margin: 2rem, 500px;
}
// .picture_conten {
//   width: 200px;               /* 幅指定 */
//   // height: 150px;               /* 高さ指定 */
//   margin:  0 auto;
// }
// .user_edit {
//   // line-height: 3rem;
// }
.form_page {
  // display:block
  // padding: 60px 10px;
  width: 200px;
  margin-right: 10px;
  margin-top: 50px;
  margin-left: 700px;

}
.picture_confirm {
  width: 200px;
  margin-right: 10px;
  margin-top: 50px;
  margin-left: 500px;
}
